<div>
  <label>Genre:</label>
  <select [(ngModel)]="filters.genre" (change)="onFilterChange()">
    <option value="">All</option>
    <option *ngFor="let genre of genres" [value]="genre.id">{{ genre.name }}</option>
  </select>

  <label>Year:</label>
  <input type="number" [(ngModel)]="filters.year" (input)="onFilterChange()" />

  <label>Country:</label>
  <select [(ngModel)]="filters.country" (change)="onFilterChange()">
    <option value="">All</option>
    <option *ngFor="let country of countries" [value]="country.iso_3166_1">{{ country.english_name }}</option>
  </select>
</div>

<div *ngFor="let movie of movies">
  <a [routerLink]="['/movie', movie.id]">{{ movie.title }}</a>
</div>